




/*Story List Styles*/

.storyListContainer{
    border: 1px solid red;
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    align-self: center;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
}

.stories{
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
    display: flex;
    border: 1px solid green;
    width: 100%;
}
