body {
  background-color: #7f8c8d;
  font-family: "Noto Sans", sans-serif;
}

.App {
  text-align: center;
}

.navHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  background-color: black;
}
.navHeader nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
ul li {
  margin: 0 1%;
}
.link {
  margin: 0 2rem;
  text-decoration: none;
  color: white;
}
.navHeader .link:hover {
  color: #7f8c8d;
}

.sign-up-border,
.login {
  text-align: center;
}

/*Dashboard styles*/
.dashboardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboardText h1 {
  margin: 1% 0 0 0;
}
.dashboardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #bdc3c7;
  border-bottom: 2px double white;
  border-top: 2px double white;
  margin-bottom: 2%;
}

/*Story List Styles*/

.storyListContainer {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.stories {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  width: 100%;
}

/*Story Card Styles*/
.bigStoryCardDiv {
  max-width: 800px;
}
.storyCardDiv {
  margin: 2%;
  /* width: 25%; */
  min-width: 335px;
  /* border: 1px solid red; */
}

/*Story Modal Styles*/

.storyModalDiv {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.storyModalDiv p {
  margin: 0 1%;
  line-height: 1.8rem;
  white-space: pre-wrap;
  font-size: 1.4rem;
}

.storyModalDiv img {
  align-self: center;
  width: 800px;
  max-height: 800px;
  box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.5);
  margin: 3% 0 1% 0;
}
.storyModalButtons {
  display: flex;
  margin: 0 0 1% 0;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.storyModalButtons button {
  align-self: center;
  margin: 0 5%;
}
/*Create Story Modal Styles*/

.bigStoryModalCreateFormDiv {
  display: flex;
  flex-direction: column;
}

.storyModalCreateFormText {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.storyModalCreateFormText form {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.storyModalCreateFormText input {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  height: 35px;
  width: 100%;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.storyModalCreateFormText textarea {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  width: 100%;
  resize: none;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.storyModalCreateFormText button {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2% 0;
  width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Story Modal Form Styles*/

.bigStoryModalFormDiv {
  display: flex;
  flex-direction: column;

  /* border: 1px solid green; */
}

.storyModalFormText {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.storyModalFormText .closeArrow {
  display: flex;
  justify-content: flex-end;
  display: flex;
  width: 20px;
  align-self: flex-end;
  margin-bottom: 0.5%;
}

.storyModalFormText .closeArrow:hover {
  display: flex;
  justify-content: flex-end;
  display: flex;
  width: 20px;
  align-self: flex-end;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.storyModalFormText form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 800px;
}
.storyModalFormText input {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  height: 35px;
  width: 100%;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.storyModalFormText textarea {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  /* height: 35px; */
  width: 100%;
  resize: none;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.storyModalFormText button {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2% 0;
  /* height: 35px; */
  width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button {
}

/*Media Queries*/

@media (max-width: 800px) {
  .storyModalDiv {
    max-width: 600px;
  }
  .storyModalDiv img {
    width: 550px;
  }
  .storyModalFormText form {
    width: 600px;
  }

  /*Create Story Form Styles*/

  .storyModalCreateFormText form {
    width: 600px;
  }
}

/*500 px media query*/
@media (max-width: 500px) {
  .navHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: black;
    justify-content: center;
  }

  .navHeader nav {
    height: 100%;

    width: 95%;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }

  ul {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  ul li {
    align-self: center;
    margin: 0;
    padding: 0;
  }
  .link {
    align-self: center;
    text-decoration: none;
    color: white;
    margin: 0;
  }

  .storyModalDiv {
    max-width: 350px;
  }
  .storyModalDiv img {
    width: 325px;
  }
  .storyModalDiv p {
    font-size: 1.1rem;
  }

  /*Story Modal Styles*/
  .bigStoryModalFormDiv {
    max-width: 350px;
  }

  .storyModalFormText form {
    width: 320px;
    height: 600px;
  }

  .storyModalFormText button {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2% 0;
    width: 20%;
  }

  /*Create Story Form Styles*/

  .storyModalCreateFormText form {
    width: 320px;
    height: 600px;
  }
  .storyModalCreateFormText button {
    width: 20%;
  }
}
